/* Custom Styles */
#main-padding {
  padding-left: 16.666%;
}
.toggle-padding {
  padding-left: 0!important;
}
@media screen and (max-width:768px) {
  #main-padding {
    padding-left: 0;
  }
}

li {
  list-style: none;
}
img {
  width: 100%;
}
/*------------
ヘッダー
------------*/
/*ロゴの横 */
.logo {
 padding-left: 24px; 
}
.header__wrap {
  position: relative;
}
.hamburger2 {
  position: absolute;
    width: 30px;
  height: 24px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  z-index: 99999;
}
/*高さを一定にするため*/
.header__content {
  padding: 12px 0!important; 
}
/*------------
drawerメニュー
------------*/
.drawer-container {
  position: fixed;
  top: 68px;
  left: 0;
  z-index: 999;
  width: 16.66666%;
  background-color: white;
  border: 1px #f3f3f3 solid;
  height: calc(100vh - 80px);
  overflow: auto;
  transition: all .5s;
}
#login-button {
  display: block;
  background-color: #335E40;
  color: white;
  text-align: center;
  border: none;
  width: 80%;
  margin: 1rem auto;
  padding: 4px 0;
}

.nav-menu-title {
  font-size: 18px;
  color: rgba(90, 90, 90);
  padding: 1rem 1rem;
  border-bottom: 1px solid #dddddd;
  cursor: pointer;
}
.nav-side-menu-item {
  padding: .2rem 1rem;
  cursor: pointer;
}
.close {
  left:-120%;
}
@media screen and (max-width:768px) {
  .drawer-container {
    width: 70%;
  }
}

