<!doctype html>
<html lang="ja">
  {% include "global_head" %}
  {% include "global_background" %}
  <body id="encore-theme" class="background-{{ settings.background_color | color_scheme_class }}">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5FBPL7C" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% include "alert_messages" %}
    {% section "header" %}
    <main>
      {{ content_for_layout }}
    </main>
    {% section "footer" %}
    {% section "exit_pop" %}
    {% section "two_step" %}
    {% include "global_scripts" %}
  </body>
</html>
